target/
stacktrace.log
web-app/WEB-INF/classes/*
web-app/WEB-INF/tld/
dtd/
.classpath
.project
.idea/
.settings/
*.iml
*.swp
*~
out/
atlassian-ide-plugin.xml
*.tld
test/reports/
web-app/images/items/
*.log
*.log.1
test/integration/syi/api/RestClientsTests.groovy
*.orig
web-app/css/
web-app/js/
